@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 5px;   
}
::-webkit-scrollbar-track {
    background: #343541;
    border-radius: 10px;
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background: #444654;
    opacity: 1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #747484;
}

.playpen {
    font-family: "Playpen Sans", cursive;
}
